.unique-header {
    background-color: #dbe6b0;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .nav-menu ul {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .nav-menu a {
    color: rgb(221, 112, 112);
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .nav-menu a:hover {
    color: #91c676;
  }
  